{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Подобр подарков</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" >
  <link rel="stylesheet" href='{% static "style.css" %}'>
  <link rel="stylesheet" href='{% static "magic.css" %}'>

    
</head>

<body>


<!-- <div id='magics'></div> -->
<!-- <script src='{% static "magic.js" %}'></script>  -->

<div id='content'>

{% block content %}
{% endblock %}

</div>

<footer>
   <!--
   <center>
    <a href='https://t.me/RustamPodarok'><button class='btn_glass'>Поговорить с человеком</button></a> 
  </center>
-->

  <script src='{% static "show_hide.js" %}'></script>
  <script src='{% static "gift_slider.js" %}'></script> 

</footer>
</body>
</html>